/* .App-logo {
  
    pointer-events: none;
    display:flex;
    position: start;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
      width: 10%;
      height: auto;
      border-radius: 20%;
    }
  } */